@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');
html {
  margin: 0;padding: 0;box-sizing: border-box;clear: both;
  scroll-behavior: smooth;

}
button:hover {
  opacity: 0.9;
}
body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='1' stroke='hsla(259, 0%, 32%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-46,0)' fill='url(%23a)'/></svg>");
  color:#fefefe;
  font-family: 'Agdasima', sans-serif;
  
}
body::-webkit-scrollbar,.ul::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-thumb,ul::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

body::-webkit-scrollbar-track{
  background: #ddd;
  border-radius: 20px;
}
ul::-webkit-scrollbar-track {
  background-color: #282828;
  border-radius: 20px;

}
